.signup-form-border {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #beed13;
  }
  

/* Responsive Design */
@media (max-width: 768px) {
    .signup-form-border {
        padding: 30px;
    }

    .form-control {
        padding: 8px;
        font-size: 0.9rem;
    }

    .btn {
        padding: 8px;
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .signup-form-border {
        padding: 20px;
    }

    .form-control {
        padding: 6px;
        font-size: 0.85rem;
    }

    .btn {
        padding: 6px;
        font-size: 0.85rem;
    }
}

/* ToastContainer Customization */
.Toastify__toast {
    border-radius: 10px !important;
}

.Toastify__toast--success {
    background-color: #28a745 !important;
    color:white;
}

.Toastify__toast--error {
    background-color: #dc3545 !important;
    color:white;
}
